#tablero {
    display: grid;
    grid-template-columns: repeat(var(--grid-tamaño), 1fr);
    grid-template-rows: repeat(var(--grid-tamaño), 1fr);
    gap: 2px;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.casilla {
    background-color: #ddd;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}