<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Batalla Naval</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/frontend-naval-battle/views/css/naval.css">
    
  </head>

  <body>
    <div class="container-fluid text-center mt-3 px-o" id="contenedorClima">
      <!-- Fila superior: Avatar, nombre y clima -->
      <div class="row mb-3 align-items-center">
        <div class="col-2">
          <div class="bandera-usuario" id="bandera-usuario"></div>
        </div>
        <div class="col-6 text-start">
          <div class="nombre-usuario" id="nombre-usuario"></div>
        </div>
        <div class="col-4 text-end">
          <div class="clima-contenedor">
            <div class="clima-titulo">
              <h4>Clima</h4>
            </div>
            <div id="clima"></div>
          </div>
        </div>
      </div>

      <!-- Barra amarilla -->
      <div class="row mb-3">
        <div class="col-8 mx-auto">
          <div class="barra-amarilla">
            <input type="number" id="tamañoCasillas" placeholder="Ingrese tamaño (10-20)"/>
            <button id="generarBoton">Generar tablero</button>
          </div>
        </div>
      </div>

      <!-- Sección de información centrada -->
      <div class="row mb-3 justify-content-center">
        <div class="col-3 text-center">
          <button id="iniciar_juego" class="btn btn-primary">Comenzar</button>
        </div>
      </div>

      <!-- Fila de tableros -->
      <div class="row align-items-start game-area">
        <div class="col-12 col-md-9 col-lg-5 col-sm-12 tablero-container">
          <h2>Tu Tablero</h2>
          <div class="tablero" id="tableroUsuario"></div>
        </div>

        <div class="col-12 col-md-3 col-lg-2 col-sm-12 zona-barcos-container text-center">
          <h2>Zona Barcos</h2>
          <div id="zonaBarcos"></div>
        </div>
      
        <div class="col-12 col-md-9 col-lg-5 col-sm-12 tablero-container">
          <h2>Tablero Máquina</h2>
          <div class="tablero" id="tableroMaquina"></div>
        </div>
      </div>
      <div class="col-2 d-flex flex-column align-items-center">
        <button id="botonExportar">Exportar Mapas (Revisar log)</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/frontend-naval-battle/utils/helpers.js"></script>
    <script src="/frontend-naval-battle/libs/weather-effects/weather-effects.min.js"></script>
    <script type="module" src="/frontend-naval-battle/controllers/naval.js"></script>
    <script type="module" src="/frontend-naval-battle/models/tablero_maquina.js"></script>    

  </body>
</html>
