<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking de Jugadores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/frontend-naval-battle/views/css/ranking.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">🏆 Ranking de Jugadores</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered mt-3">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Puntos</th>
                        <th>Pais</th>
                    </tr>
                </thead>
                <tbody id="ranking-body">
                    <tr><td colspan="4" class="text-center">Cargando...</td></tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="boton-volver-contenedor"> 
        <button type="submit" class="btn btn-secondary boton-volver" id="volver">Volver</button>
    </div>

    <script src="/frontend-naval-battle/controllers/rankin.js"></script>
</body>
</html>
