#tableroUsuario {
    display: grid;
    grid-template-columns: repeat(var(--grid-tamaño), 1fr);
    grid-template-rows: repeat(var(--grid-tamaño), 1fr);
    gap: 2px;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.celda {
    background-color: #ddd;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
#zona-barcos {
    display: flex;
    flex-wrap: wrap; /* Permite que los barcos pasen a la siguiente línea */
    gap: 10px; /* Espacio entre barcos */
    padding: 10px;
    margin-bottom: 20px;
    max-width: 100%; /* Se ajusta al ancho disponible */
}



.barco {
    position: relative;
    overflow: visible;
    border: 2px solid #333;
    box-sizing: border-box;
    transition: width 0.3s ease, height 0.3s ease;
    z-index: 10;
}

.barco-imagen-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.barco-imagen {
    position: relative;
    transition: transform 0.3s ease;
    object-fit: cover;
    transform-origin: center;
}
.bandera-usuario {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
}

.nombre-usuario {
    border: 1px solid black;
    padding: 10px;
}

.barra-amarilla {
    border: 2px solid yellow;
    padding: 10px;
}

.clima, .info, .empieza-juego {
    border: 1px solid green;
    padding: 10px;
    margin-top: 10px;
}

.boton-juego {
    width: 50px;
    height: 50px;
    border: 1px solid lightblue;
    margin-bottom: 10px;
}

.boton-final {
    width: 50px;
    height: 50px;
    border: 1px solid green;
}

.cuadro {
    border: 2px solid black;
    padding: 50px;
}


/* PARTES DEL CLIMA */
.clima-titulo {
    background-color: #9fc2e7; 
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    border-radius: 8px 8px 0 0; /* Bordes redondeados arriba */
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1px;
    width: auto;
    min-width: 100px;
    margin-left: auto; /* Centrado automático */
    margin-right: auto;
}
#clima {
    background-color: #ffffff; 
    border-radius: 0 0 8px 8px;
    padding: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: fit-content; 
    margin-left: auto; /* Centrado automático */
    margin-right: auto;
}


#clima p {
    font-size: 1rem;
    color: #555;
    margin: 2px 0;
}

#clima img {
    width: 50px;
    height: 50px;
    margin-top: 8px;
}

#clima .info {
    color: #333;
    font-weight: bold;
}