/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('/frontend-naval-battle/assets/image_login.jpeg'); /* Reemplaza con la imagen que elijas */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}


.title, .form-label {
    color: white;
}
